@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Balsamiq Sans', cursive;
}


.primary-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 100vw;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #EEEEEE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0 .5rem;
}

.nav-links ul li a:hover {
    color: grey;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 0 .5rem;
}

header {
    text-align: center;
    margin: 3rem;
    height: 70vh;
}

h2 {
    margin: 2rem auto;
    color: #FF7F11;
    font-size: 2rem;
    padding: 0.8rem;
}

.hero-text{
    font-size: large;
    font-weight: 600;
    color: #000;
}

.birthday-input {
    outline: #000;
    padding: 0.6rem 1rem;
    border: 2px solid #FF7F11;
    border-radius: 0.6rem;
    font-size: 1rem;
    margin: 1rem;
    width: 100%;
    max-width: 258px;
}

#check-btn {
    background: #FF7F11;
    border: none;
    color: #000;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #000;
    margin: auto;
    display: block;
}

#output {
    margin: 2rem 0;
}


.primary-footer {
    display: flex;
    justify-content: center;
    margin: 0rem auto;
    align-items: center;
    padding: 1rem;
    max-width: 100vw;
    height: 7vh;
    border-radius: 6px;
    box-shadow: 10px -5px 5px #EEEEEE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon .fa {
    padding: 0 1rem;
    margin: 0 14px;
    font-size: 20px;
    color: black;
}

.icon .fa:hover {
    color: grey;
}

@media (max-width: 726px) {
    .hero {
        max-width: 80vw;
    }

    #birthday-input {
        width: 35vw;
        height: auto;
    }
}